#Tarefa 5 - Regressão Linear e logística

## Nesta tarefa, você deve carregar um dataset sobre as vendas de cadeirinhas infantis, construir modelo de Regressão com os algoritmos vistos em aula e predizer o valor das vendas.

Dica: Para toda a tarefa, além da biblioteca pandas e numpy, você pode querer explorar funções da biblioteca sklearn.linear_model (em particular os pacotes LinearRegression e LogisticRegression).
Além disso, você vai precisar usar funções de pré-processamento e de pós-procesamento (das bibliotecas sklearn.preprocessing, sklearn.model_selection e sklearn.metrics)

###Importe os pacotes e carregue o arquivo com os dados
O dataset a ser utilizado encontra-se no arquivo casseats.csv, disponível no EAD.


Este dataset contém dados sobre as vendas de cadeirinhas infantis em 400 lojas diferentes, descritas pelos seguintes atributos/variáveis:
* Sales - Vendas unitárias (em milhares) em cada local
* CompPrice - Preço cobrado pelo concorrente em cada local
* Income - Nível de renda da comunidade (em milhares de dólares)
* Advertising - Orçamento de publicidade local para a empresa em cada local (em milhares de dólares)
* Population - Tamanho da população na região (em milhares)
* Price - Preço que a empresa cobra por assentos de carro em cada local
* ShelveLoc - Um fator com níveis Ruim, Bom e Médio que indica a qualidade da localização das estantes para as cadeirinhas em cada local
* Age - Idade média da população local
* Education - Nível de escolaridade em cada localidade
* Urban - Um fator com níveis Não e Sim para indicar se a loja está localizada em área urbana ou rural
* US - Um fator com níveis Não e Sim para indicar se a loja é nos EUA ou não
* High - Um fator com níveis Não e Sim para indicar se a compra é alta ou não

In [70]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, LabelBinarizer, OrdinalEncoder
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import confusion_matrix, roc_curve, auc
import numpy as np

In [71]:
# Carregar a base de dados
df = pd.read_csv('Carseats.csv', sep=';', index_col=0)

df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
1,"9,5",138,73,11,276,120,Bad,42,17,Yes,Yes,Yes
2,"11,22",111,48,16,260,83,Good,65,10,Yes,Yes,Yes
3,"10,06",113,35,10,269,80,Medium,59,12,Yes,Yes,Yes
4,"7,4",117,100,4,466,97,Medium,55,14,Yes,Yes,No
5,"4,15",141,64,3,340,128,Bad,38,13,Yes,No,No

In [72]:
df.describe()

,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [73]:
print(df['Urban'].unique())
print(df['US'].unique())
print(df['High'].unique())
print(df['ShelveLoc'].unique())

['Yes' 'No']
['Yes' 'No']
[' Yes ' ' No']
['Bad' 'Good' 'Medium']

### Pré-processe a base de dados

Dica: avalie a necessidade de converter os tipos das variáveis, normalizar os dados, ...

In [74]:
le_urban = LabelBinarizer()

### Crie os conjuntos de treinamento e de teste

Atenção: Selecione aleatoriamente e sem reposição (para que não se repitam) 320 registros para o conjunto de treinamento. As 80 observações restantes serão usadas para o conjunto de teste. Fixe a semente de geração de dados aleatórios em 456.

In [75]:
# Dividir os dados em conjunto de treino e teste

In [76]:
# visualizar os dados

### Construa um modelo de Regressão Linear Múltipla.

Utilizando o modelo, faça a predição do atributo Sales no conjunto teste

Atenção: o atributo High deve ser eliminado para este processo

### Pós-processamento: Avalie cada modelo de regressão

Calcule as medidas de desempenho vistas em aula (erro quadrático médio, R2)

In [77]:
# Calcular métricas de desempenho para cada modelo

### Agora, construa um modelo de Regressão Logística

Faça a predição do atributo High no conjunto teste, e avalie utilizando métricas adequadas

Atenção: o atributo Sales deve ser eliminado para este processo

In [78]:
# Didivir dados de treino e teste

# Treinar o modelo de Regressão Logística

# Fazer predições com o conjunto de teste

# Calcular métricas de desempenho